# yaml-language: $schema=./node_modules/envio/evm.schema.json
name: beamr-envio
contracts:
  - name: BeamR
    handler: src/BeamR.ts
    events:
    - event: BeamrInitialized(bytes32 adminRole, bytes32 rootAdminRole)
    - event: PoolCreated(address pool, address token, (bool,bool) config, (address,uint128)[] members, address creator, bytes32 poolAdminRole, (uint256,string) metadata)
    - event: PoolMetadataUpdated(address pool, (uint256,string) metadata)
    - event: RoleAdminChanged(bytes32 indexed role, bytes32 indexed previousAdminRole, bytes32 indexed newAdminRole)
    - event: RoleGranted(bytes32 indexed role, address indexed account, address indexed sender)
    - event: RoleRevoked(bytes32 indexed role, address indexed account, address indexed sender)
    - event: MemberUnitsUpdated((address, uint128)[] members, address[] poolAddresses, uint8 action, (uint256, string) metadata);
  - name: GDA
    handler: src/GDA.ts
    events: 
    - event: FlowDistributionUpdated(address indexed token,address indexed pool,address indexed distributor,address operator,int96 oldFlowRate,int96 newDistributorToPoolFlowRate,int96 newTotalDistributionFlowRate,address adjustmentFlowRecipient,int96 adjustmentFlowRate,bytes userData)
    - event: PoolConnectionUpdated(address indexed token, address indexed pool, address indexed account, bool isConnected, bytes userData)
  - name: SuperfluidPool
    handler: src/SuperfluidPool.ts
    events:
    - event: MemberUnitsUpdated(address indexed token, address indexed member, uint128 oldUnits, uint128 newUnits)
    - event: DistributionClaimed(address indexed token, address indexed member, uint128 amount, uint128 units, uint256 timestamp)
unordered_multichain_mode: true
# preload_handlers: true
field_selection: 
  transaction_fields:
    - from
    - hash
networks:
  - id: 8453
    start_block: 39756032
    contracts:
      - name: BeamR
        address:
        - 0x0e9ddfd2Ffdb0BA1aC3340D865193A7b6d4Ea147
      - name: GDA
        address:
        - 0xfE6c87BE05feDB2059d2EC41bA0A09826C9FD7aa
      - name: SuperfluidPool  
  